<!DOCTYPE html>
<html>
<head>
	<title>social-msg</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/dist/css/fonts/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/style.css">
</head>
<body>
	<header id="header"></header>
	<div id="container"></div>
<script src="/dist/vendor.js" type="text/javascript"></script>
<script src="/dist/bundle.js" type="text/javascript"></script>
</body>
</html>
